html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul, ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


address {
	font-style: normal;
}
:root{
    --header-link: #212121;
    --logo-title-first: #2196F3;
    --logo-title-second: #000;
    --team-name: #212121;
    --leading-page: #2196f3;
    --portfolio-link:#212121;
    --link-color:#757575;
}
.list{
    list-style: none;
}
.link {
    text-decoration: none;
    color:var(--link-color);
  }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.portfolio-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.logo-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #757575;
}

/* ---------------------HEADER-------------------------- */
.header{
    background-color: #fff;
}
.header .container {
    display: flex;
    align-items: center;
}
.header-list{
    display: flex;
}
.header-item:not(:last-child){
    margin-right: 50px;
}
.logo-first{
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header-item-contact{
    display: flex;
}
.header-ico{
    fill: #757575;
}
.header-ico-list{
    display: flex;
    margin-right: 10px;
}
.header-link:hover,
.header-link:focus {
    color: #2196F3;
}
.header-link-studio{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--leading-page);
    display: block;
}
.header-link{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-link);
    display: block;
}
.logo-first{
    color: var(--logo-title-first);
}
.logo-second{
    color: var(--logo-title-second);
}
.header-contacs-list{
    display: flex;
    justify-content: center;
    margin-left: auto;
}
.header-item-contact:not(:last-child){
    margin-right: 50px;
}
.header-tel:hover,
.header-tel:focus{
    color:#2196f3;
}
.header-mail:hover,
.header-mail:focus{
    color: #2196F3;
}
.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-contacts);
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-contacts);
    padding-top: 32px;
    padding-bottom: 32px;
}
/* ---------------------HERO-------------------------- */
.hero{
    background-color: #2F303A;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/backgrownd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-btn{
    font-family: 'Roboto', sans-serif;
    background: #2196F3;
    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 480px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 10px 31px;
}
.hero-title{
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.hero-text{
    
}
/* -----------------------PRICES------------------------ */
.prices{
    padding-top: 94px;
    padding-bottom: 94px;
}
.prices-svg-item{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.prices-text{
    width: 270px;
}
.prices-list{
    display: flex;
    gap: 30px;
}
.prices-item{
    flex-basis: calc(100%-3*30);
}
.prices-top-text{
    color: #212121;
    margin-bottom: 10px;
    display: flex;
    text-transform: uppercase;
}
/* -----------------------OCCUPATIANS------------------------ */
.occupations{
    padding-bottom: 95px;
}
.occupations-top-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.occupations-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.occupations-main-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:#212121;
    margin-bottom: 50px;
}
.occupations-list{
    display: flex;
    gap: 30px;
}
/* ---------------------TEAM-------------------------- */
.team{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

}
.team-list{
    display: flex;
    gap: 30px;
}
.team-item{
    background: #FFFFFF;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-top-text{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--team-name);
    margin-bottom: 10px;
}
.team-work{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-soc{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
.team-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}


.team-soc-icon{
    fill: #AFB1B8;
}
.team-soc-link:hover, 
.team-soc-link:focus{
    background-color: #2196F3;
}

.team-soc-link:hover .team-soc-icon, 
.team-soc-link:focus .team-soc-icon{
    fill: #FFFFFF;
}
/* --------------------CUSTOMER--------------------------- */
.customer {
    padding-top: 94px;
    padding-bottom: 94px;
}
.customer-top-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 50px;
}
.customer-list {
    display: flex;
    justify-content: space-between;
}
.customer-item {
    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-link {
    fill: #AFB1B8;
}
.customer-item:hover, 
.customer-item:focus{
    border-color: #2196F3;
}

.customer-item:hover .customer-link, 
.customer-item:focus .customer-link{
    fill: #2196F3;
}
/* ---------------------FOOTER-------------------------- */
.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container{
    display: flex;
}

.footer-logo-second{
    color: #fff;
}
.footer-logo-first{
    color: #2196F3;
}
.footer-item:not(:last-child){
    margin-bottom: 9px;
}
.footer-map{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-contacts{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-list{
    margin-top: 20px;
    display: block;
}
.foter-connect{
    margin-left: 70px;
}
.foter-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
}
.foter-soc{
    display: flex;
    gap: 10px;
}
.foter-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.foter-soc-link:hover, 
.foter-soc-link:focus{
    background-color: #2196F3;
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: #2196F3;
}
/* ---------------------END-MAIN-SITEBAR-------------------------- */
/* ---------------------PORTFOLIO-------------------------- */
.all-portfolio{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
/* -------------------------HEADER---------------------------- */
.header-link-portfolio-class{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--leading-page);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-portfolio .container{
    display: flex;
    align-items: center;
}
.header-portfolio{
    border: 1px solid #ECECEC;
}
.header-item-tel:not(:last-child) {
    margin-left: 250px;
}
/* ----------------MAIN----------------------------------------- */
.main-two{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ---------------------CHOICE-BUTTONS-------------------------- */
.choice-btn:hover,
.choice-btn:focus{
    background-color:#2196F3;
    color:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}
.btn-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-item:not(:last-child){
    margin-right: 8px;
}
.choice-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 25px 6px 25px;

    border: 0;
    border-radius: 4px;
    background-color: #F5F4FA;
}
/* ---------------------GALLERY-------------------------- */
.gallery-top-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.gallery-link{
    flex-basis: auto;
}
.portfolio-text{
    padding: 20px 24px;
    
    border: 1px solid#EEEEEE;
    border-top: 0;
}
.gallery-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:#757575;
}
.gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.gallery-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* -------------------------------FOTER-PORTFOLIO---------------------------------- */
.footer-portfolio{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-portfolio .portfolio-container{
    display: flex;
}